---
import Layout from '@layouts/root.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);

// Fetch repositories if user is authenticated
let repositories = [];
if (session?.accessToken) {
  const response = await fetch('https://api.github.com/user/repos', {
    headers: {
      Authorization: `Bearer ${session.accessToken}`,
      Accept: 'application/vnd.github.v3+json',
    },
  });
  repositories = await response.json();
  console.log(repositories.filter((repo: any) => repo.name === 'project-management'))
}
---

<Layout>
  {session ? (
    <div>
      <p>Welcome {session.user?.name}</p>
      <h2>Your Repositories:</h2>
      <ul>
        {repositories.map((repo: any) => (
          <li>
            <a href={`/project/${repo.id}`}>
              {repo.name} - {repo.description}
            </a>
          </li>
        ))}
      </ul>
    </div>
  ) : (
    <p>Not logged in</p>
  )}
</Layout>


